<html>
<body>
<h3>Hi ${contactUsBean.name}, welcome </h3>

<div>
   Your email address is <a href="mailto:${contactUsBean.email}">${contactUsBean.email}</a>.
</div>
<div>
   Your Comments : ${contactUsBean.comments}
</div>
</body>

</html>